<header class="masthead text-white text-center" id="startwynik">
  <div class="container">
    <h1 class="text-uppercase">Znaleziono {{cars.length}} samochodów</h1>
    <img class="img-fluid mb-5 d-block mx-auto" src="assets/img/gwiazda_white.png" alt="">
    <h3>- Odbiór: {{dataOdbioru}} {{miejsceOdbioru}} -</h3>
    <h3>- Zwrot: {{dataZwrotu}} {{miejsceZwrotu}} -</h3>
  </div>
</header>

<main>

  <section id="wyniki">
    <div class="container">

      <div *ngFor="let car of cars" class="row wyniki_sam border">
        <div class="col-sm-12 col-md-6 col-lg-5">
          <h3>{{car.marka}} {{car.model}}</h3>
          <img src="assets/img/samochody/sam_png/{{car.id}}.png" alt="" class="w-100">
        </div>

        <div class="col-sm-6 col-md-4 wyniki_sam_list">
          <img class="float-left" src="assets/img/min/1.png" alt="">
          <p>{{car.miejsca}}</p>
          <img class="float-left" src="assets/img/min/2.png" alt="">
          <p>{{car.pakownosc}}</p>
          <img class="float-left" src="assets/img/min/3.png" alt="">
          <p>{{car.drzwi}}</p>
          <img class="float-left" src="assets/img/min/4.png" alt="">
          <p>{{car.skrzynia}}</p>
          <img class="float-left" src="assets/img/min/5.png" alt="">
          <p>{{car.klima}}</p>
          <img class="float-left" src="assets/img/min/6.png" alt="">
          <p>{{car.paliwo}}</p>
        </div>

        <div class="col-sm-6 col-md-2 col-lg-3">
          <h3>{{car.cena * datyDiff}} PLN</h3>
          <p>Kaucja zwrotna {{car.kaucja}} PLN</p>
          <form (submit)="findCar(car.id)">
            <button type="submit" class="btn btn-success">Wybierz</button>
          </form>
        </div>
      </div>

    </div>
  </section>
</main>
