<header class="masthead text-white text-center" id="startwynik">
  <div class="container">
    <h1 class="text-uppercase">Rezerwacja przebiegła pomyślnie</h1>
    <img class="img-fluid mb-5 d-block mx-auto" src="assets/img/gwiazda_white.png" alt="">
  </div>
</header>

<main>

  <section id="potwierdzenie">
    <div class="container text-center">
      <h3>Zarezerwowałeś samochód</h3>
      <h3 class="font-weight-bold">{{car.marka}} {{car.model}}</h3>
      <h3>- Odbiór: {{dataOdbioru}} {{miejsceOdbioru}} -</h3>
      <h3>- Zwrot: {{dataZwrotu}} {{miejsceZwrotu}} -</h3>
      <h3 class="font-weight-bold">Potwierdzenie rezerwacji zostało wysłane na Twoją skrzynkę mailową</h3>
    </div>
  </section>
</main>
